<div class="row">
  <div class="col-6">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">Add Users</a>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/view" type="button" class="btn btn-primary align-self-center">View Users</a>
  </div>
</div>
